*
{
    box-sizing: border-box;
}


header
{
    display: flex;
    justify-content: space-around;
    padding: 35px;
    font-size: 25px;
    font-family:star-wars2;
    
     /*background-color: rgb(37, 37, 37);*/
    position: sticky;
    top:0px;
    animation: header-animacion linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 500px;
    z-index: 1;
}

@keyframes header-animacion
{
    from
    {
       background-color: #000000;
    }
    to
    {
        background-color:rgb(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
        
        font-size: 20px;
    }
}

@media (max-width: 768px)
{
   
}

nav
{
    display: flex;
    gap:25px;
    
  

}
nav a
{
    text-decoration: none;
    color:#ffffff;
    
    
}
a:hover
{
      color:rgb(247, 194, 114);
}

.Nombre
{
     color:rgb(255, 157, 10);
}
body
{
    font-size: 30px;
    font-family:monospace;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;           
    color:#ffffff;
      background:linear-gradient(70deg, rgb(58, 133, 80) 0%,rgb(73, 152, 243) 50%, rgb(55, 0, 253)100%);
}
.Home-page
{
    display: grid;
    border: black solid 1px;
    grid-template-columns: 1fr 1fr;
    
    
  
    height: 100vh;
}
.container-nombre
{
    align-content:center;
    padding-bottom: 100px;
    
   
}
.container-dev
{
    align-content: center;
    padding-top: 100px;
   
}
.Sobremi-page
{
   
   display: flex;
   flex-wrap: wrap;
   min-height: 100vh; 
   align-items: center;
   justify-content: center; 
   padding: 20px; 
   
}
.Container-sobremi
{
    font-size:35px;
    text-align: justify;
    margin:0px 100px 0px 100px;
    line-height: 1.6;
    flex-basis: 300px;
    flex-grow: 1; 
    animation: mostrar-texto linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 30%;
    
    border-radius: 25px;
}
p
{
    margin: 100px 0px 100px 0px;
}
@keyframes mostrar-texto
{
    from
    {
        opacity: 0;
        translate: 0 100px;
        scale: 0.9;
    }
    to
    {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}
@media (max-width: 768px) {
  
  .Container-sobremi {
    
    font-size: 23px; 
    margin-bottom: 50px;
  }

  .Sobremi-page {
     align-items: flex-start;
  }
}

.Proyectos-page
{
    
    min-height: 100vh;
    display:grid;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 20px;

   
}
.Proyectos-page div
{
    
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    min-height: 500px;
    min-width: 700px;
    animation: mostrar-car linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 48%;
}
@keyframes mostrar-car
{
    from
    {
        opacity: 0;
        translate: 0 100px;
        scale: 0.5;

    }
    to
    {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}





@media (max-width: 768px)
{
    .Proyectos-page div
    {
        min-height: 300px;
        min-width: 400px;
    }
}
.Habilidades-page
{
    
   
   height: 100vh;
}
#Habilidades
{
    
   padding-top:25vh;
    text-align: center;
    
}
/*poner creditos a los logos*/
.spanlogos
{
    text-align: center;
}
h1
{
    text-align: center;
    color:rgb(247, 194, 114);
    margin: 0;
}


.sin
{
    list-style-type: none;
}


h2
{
    margin: 0;
      color:rgb(255, 157, 10);
    text-align: center;
}

img
{
    width: 7vh;
    height: 7vh;
}

.fa-linkedin-in, .fa-github,.fa-envelope
{
    font-size: 50px;
}

footer
{
    display: flex;
    justify-content: space-around;
    padding: 23px;
    background-color: rgb(37, 37, 37); 
}

