

html
{
    height: 100% ;

}

body
{
    font-size: 30px;
    height: 100% ;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
    
    
    background-image:url('img/Space.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column ;
    text-align: center;
    
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(129, 12, 197);
}

h1
{
    display: flex;
    align-items: center;
    justify-content: center;
    
   
    
}



.HeaderT 
{
   
    

    margin: 0 70px;
    color : rgb(255, 255, 255);
    text-decoration: solid;
    font-family: 'Courier New', Courier, monospace;
    
    font-size: 18px;
    
   
    
}
.HeaderT:hover
{
    color: rgb(240, 23, 175);
    transition: 0.5s;
    
}
footer
{
    text-align: center;
    
    font-size: 20px;
}
.sin
{
    list-style-type: none;
}
.Nombre
{
    color: rgb(240, 23, 175);
}
    



h2
{
    
    color: rgb(73, 152, 243);
}
