


.container
{
    border: 1px solid rgb(255, 255, 255);
    
   backdrop-filter: blur(3px);
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 70%;
    border-radius: 25px;
    
   
    
}


body
{
    font-size: 30px;
    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 38, 96, 1);
}

.HeaderT 
{
    
    
    
    color : rgb(255, 255, 255);
    text-decoration: solid;
    font-family: 'Courier New', Courier, monospace;
    
    font-size: 25px;
    
   
    
}
.HeaderT:hover
{
    color: rgb(240, 23, 175);
    transition: 0.5s;
    
}
footer
{
    text-align: center;
    background-color: rgb(56, 38, 96, 1);
    
    font-size: 30px;
}
.sin
{
    list-style-type: none;
}
.Nombre
{
    color: rgb(240, 23, 175);
}
    



h2
{
    
    color: rgb(73, 152, 243);
}
.container2
{
    background-color: rgb(56, 38, 96, 1);
    height: 100vh;
    display: block;
    align-content: center;
    text-align: center;
    
}
main
{
  background-image:url('img/Space.jpg');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;  
}
header a {
 
  display: inline-block; 
  
  
  margin-right: 15px; 
  
  
  padding: 5px 0; 
  
}


header a:last-child {
  margin-right: 0;
}

