*
{
    box-sizing: border-box;
}
@font-face
{
    font-family: Star-wars;
    src:url(Fonts/SfDistantGalaxyOutline-xoeO.ttf)
}
body
{
    font-size: 30px;
    font-family: Star-wars;
    letter-spacing: 5px;
    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;
    
                                                
                
    color:#ffe919;
     background-color: rgb(0, 0, 0);
}
.Home-page
{
     background-color: rgb(0, 0, 0);
    align-items: center;
    
    height: 100vh;
}
.Sobremi-page
{
   background-color: rgb(0, 0, 0);
    height: 100vh;
    align-items: center;
}
.Proyectos-page
{
     background-color: rgb(0, 0, 0);
    height: 100vh;
}
.Habilidades-page
{
    background-color: rgb(255, 255, 255);
   
   height: 100vh;
}
#Habilidades
{
    
   padding-top:35vh;
    text-align: center;
    
}
/*cambiar logos*/
.spanlogos
{
    text-align: center;
}
h1
{
    text-align: center;
    color:#ffe919;
    margin: 0;
}

header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    background-color: rgb(37, 37, 37);
    position: sticky;
    
}
nav
{
    display: flex;
    gap:50px;
}
nav a
{
    text-decoration: none;
    color:#ffe919;
}
a:hover
{
    color: rgb(73, 152, 243);
}
footer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    background-color: rgb(37, 37, 37); 
}
.sin
{
    list-style-type: none;
}

.Nombre
{
    color:#ffe919;
    padding-bottom: 30px;
    padding-top: 40vh;
}
h2
{
    margin: 0;
    color: rgb(73, 152, 243);
}
.containerblock
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    justify-items: center;
  
}
.car 
{
    width: 10vh;
    height: 10vh;
    border: 1px solid;
    border-radius: 30px;  
    
}

img
{
    width: 7vh;
    height: 7vh;
}
p
{
    font-size: 40px;
    text-align: justify;
    margin: 50px;
}





