*
{
    box-sizing: border-box;
}
body
{
    background-image:url('img/Space.jpg');
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    background-position: center top;
  
    font-size: 30px;
    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 38, 96, 1);
}
.container
{
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1
{
    text-align: center;
    color:#6b49b6;
    
    
    
}
h3
{
    text-align: center;
    color:#6b49b6;
    padding-bottom: 40vh;
    
    
}
header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    background-color: rgb(37, 37, 37);
    position: sticky;
    top:0;
}


.container-header
{
    
    height: 300px;
    width: auto;
}

  

    

nav
{
    display: flex;
    gap:50px;
    
    
    
    
}
nav a
{
    text-decoration: none;
    color:#bbabde;
    
}
a:hover
{
    
    color:#6b49b6;
    
    
}




footer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    background-color: rgb(37, 37, 37);
    
    
    
}
.sin
{
    list-style-type: none;
}

.Nombre
{
    color:#bbabde;
    padding-bottom: 30px;
    
    
}

    



h2
{
    
    color: rgb(73, 152, 243);
}
.containerblock
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    
    place-items: center;

}
.car 
{
    width: 450px;
    height: 500px;
    border: 1px solid;
    border-radius: 15px;
    margin-bottom: 15px;
}
.car2
{
    width: 450px;
    height: 500px;
    border: 1px solid;
    border-radius: 15px;
    margin-bottom: 15px;
    justify-content: right;
}



