*
{
    box-sizing: border-box;
}
@font-face
{
    font-family: Star-wars;
    src:url(Fonts/SfDistantGalaxyOutline-xoeO.ttf)
    
}
@font-face {
    font-family: Star-wars2;
    src: url(Fonts/Star\ Wars.ttf);
}
body
{
    font-size: 30px;
    font-family: Star-wars;
    letter-spacing: 5px;
    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;
    
                                                
                
    color:#ffe919;
     background-color: rgb(0, 0, 0);
}
.Home-page
{
     background-color: rgb(0, 0, 0);
    align-items: center;
  
    height: 100vh;
}
.Sobremi-page
{
   background-color: rgb(0, 0, 0);
    height: 100vh;
    align-items: center;
}
.Proyectos-page
{
     background-color: rgb(0, 0, 0);
    height: 100vh;
}
.Habilidades-page
{
    background-color: rgb(255, 255, 255);
   
   height: 100vh;
}
#Habilidades
{
    
   padding-top:35vh;
    text-align: center;
    
}
/*cambiar logos*/
.spanlogos
{
    text-align: center;
}
h1
{
    text-align: center;
    color:#ffe919;
    margin: 0;
}

header
{
    display: flex;
    justify-content: space-around;
    padding: 35px;
    font-size: 25px;
    font-family:star-wars2;
    background-color: rgb(37, 37, 37);
    position: sticky;
    top:0px;
}

nav
{
    display: flex;
    gap:25px;
  

}
nav a
{
    text-decoration: none;
    color:#ffe919;
    
    
}
a:hover
{
    color: rgb(73, 152, 243);
}
footer
{
    display: flex;
    justify-content: space-around;
    padding: 23px;
    background-color: rgb(37, 37, 37); 
}
.sin
{
    list-style-type: none;
}

.Nombre
{
    color:#ffe919;
    padding-bottom: 30px;
    padding-top: 40vh;
}
h2
{
    margin: 0;
    color: rgb(73, 152, 243);
}
.containerblock
{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-auto-rows: 37vh;
    max-width: 1100px;
    gap: 40px 40px;
    margin: 0 auto auto;
    
  
   
  
}
.containerblock div
{
    background-color: rgb(0, 0, 0);
  border: 2px solid rgb(251, 255, 23);
  border-radius: 30px;
  
}

img
{
    width: 7vh;
    height: 7vh;
}
p
{
    font-size: 40px;
    text-align: justify;
    margin: 100px;
    line-height: 1.7;
}
.fa-linkedin-in, .fa-github,.fa-envelope
{
    font-size: 50px;
}




