*
{
    box-sizing: border-box;
}
@font-face
{
    font-family: Star-wars;
    src:url(Fonts/SfDistantGalaxyOutline-xoeO.ttf)
    
}
@font-face {
    font-family: Star-wars2;
    src: url(Fonts/Star\ Wars.ttf);
}

header
{
    display: flex;
    justify-content: space-around;
    padding: 35px;
    font-size: 25px;
    font-family:star-wars2;
    background-color: rgb(0, 0, 0);
     /*background-color: rgb(37, 37, 37);*/
    position: sticky;
    top:0px;
    animation: header-animacion linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 500px;
    z-index: 1;
}

@keyframes header-animacion
{
    to
    {
        background-color: rgb(37, 37, 37);
        
        backdrop-filter: blur(5px);
        font-size: 20px;
    }
}

@media (max-width: 768px)
{
   
}

nav
{
    display: flex;
    gap:25px;
    
  

}
nav a
{
    text-decoration: none;
    color:#ffe919;
    
    
}

.Nombre
{
    color:#ffe919;
    padding-bottom: 30px;
    padding-top: 40vh;
}
body
{
    font-size: 30px;
    font-family: Star-wars;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;           
    color:#ffe919;
     background-color: rgb(0, 0, 0);
}
.Home-page
{
     background-color: rgb(0, 0, 0);
    align-items: center;
  
    height: 100vh;
}
.Sobremi-page
{
   background-color: rgb(0, 0, 0);
   display: flex;
   flex-wrap: wrap;
   min-height: 100vh; 
   align-items: center;
   justify-content: center; 
   padding: 20px; 
   
}
.Container-sobremi
{
    font-size:35px;
    text-align: justify;
    margin:0px 100px 0px 100px;
    line-height: 1.6;
    flex-basis: 300px;
    flex-grow: 1; 
    animation: mostrar-texto linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 48%;
}
p
{
    margin: 100px 0px 100px 0px;
}
@keyframes mostrar-texto
{
    from
    {
        opacity: 0;
        translate: 0 100px;
        scale: 0.9;
    }
    to
    {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}
@media (max-width: 768px) {
  
  .Container-sobremi {
    
    font-size: 23px; 
    margin-bottom: 50px;
  }

  .Sobremi-page {
     align-items: flex-start;
  }
}

.Proyectos-page
{
     background-color: rgb(0, 0, 0);
    min-height: 100vh;
    display:grid;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 20px;

   
}
.Proyectos-page div
{
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(251, 255, 23);
    border-radius: 25px;
    min-height: 500px;
    min-width: 700px;
    animation: mostrar-car linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 48%;
}
@keyframes mostrar-car
{
    from
    {
        opacity: 0;
        translate: 0 100px;
        scale: 0.5;

    }
    to
    {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}





@media (max-width: 768px)
{
    .Proyectos-page div
    {
        min-height: 300px;
        min-width: 400px;
    }
}
.Habilidades-page
{
    background-color: rgb(0, 0, 0);
   
   height: 100vh;
}
#Habilidades
{
    
   padding-top:25vh;
    text-align: center;
    
}
/*poner creditos a los logos*/
.spanlogos
{
    text-align: center;
}
h1
{
    text-align: center;
    color:#ffe919;
    margin: 0;
}
h2
{
    text-align: center;
}


.sin
{
    list-style-type: none;
}


h2
{
    margin: 0;
    color: rgb(73, 152, 243);
    text-align: center;
}

img
{
    width: 7vh;
    height: 7vh;
}

.fa-linkedin-in, .fa-github,.fa-envelope
{
    font-size: 50px;
}

footer
{
    display: flex;
    justify-content: space-around;
    padding: 23px;
    background-color: rgb(37, 37, 37); 
}

