
body
{
    background-image:url('img/Space.jpg');
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    background-position: center top;
  
    font-size: 30px;
    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 38, 96, 1);
}
.container
{
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1
{
    text-align: center;
}

.HeaderT 
{
    color : rgb(255, 255, 255);
    text-decoration: solid;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}
.HeaderT:hover
{
    color: rgb(240, 23, 175);
    transition: 0.5s;
    
}
footer
{
    text-align: center;
    
    
    font-size: 30px;
}
.sin
{
    list-style-type: none;
}
.Nombre
{
    color: rgb(240, 23, 175);
}

    



h2
{
    
    color: rgb(73, 152, 243);
}
header a {
 
  display: inline-block; 
  
  
  margin-right: 15px; 
  
  
  padding: 5px 0; 
  
}


header a:last-child {
  margin-right: 0;
}
.centrara
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.containerblock
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;

}
.car 
{
    width: 450px;
    height: 500px;
    border: 1px solid;
    border-radius: 15px;
    margin-bottom: 15px;
}
.car2
{
    width: 450px;
    height: 500px;
    border: 1px solid;
    border-radius: 15px;
    margin-bottom: 15px;
    justify-content: right;
}



